*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    max-width: 100%;
    /* border: 1px solid red; */
    /* margin: 16px auto; */
    display: flex;
    justify-content: space-between;
    padding: 16px 121px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;

}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    
}
.btn{
    background-color: green;
    color: white;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;

}
#banner{
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    height:674px;
    background-size: cover;
    padding: 70px 120px 134px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-content{
    text-align: center;
    line-height: 32px;
}
.banner-content .text-white{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}
.banner-content .text-green{
    color:#30B868;
    font-size: 50px;
}
.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    margin-top: 16px;
    margin-bottom: 32px;

}
 .banner-btn{
    gap: -36px;
}
.banner-content .banner-btn{
   background-color: rgb(107, 109, 107);
    color: white;
    padding: 16px 12px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}